@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
}
 html, body {
    min-height: 100dvh;
    padding-top: 70px;
    margin: 0;
    padding: 30px 0 0;
    overflow-x: hidden;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}
body, a{
    cursor: url(https://cur.cursors-4u.net/anime/ani-1/ani197.ani), url(https://cur.cursors-4u.net/anime/ani-1/ani197.png), auto;
}

.navigation {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: #e8d9f0 1px solid;
    width: 700px;
    height: 70px;
    background: linear-gradient(45deg, #8b2658, #06010b); 
    border-radius: 0 0 50px 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 20px;
    z-index: 1;
    opacity: 95%;
}
.navigation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: -1;
}

.navigation .logo {
    color: #fffbfb;
    flex: 50px;
    text-align: center;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 60px;
    font-size: 1.5em;
    padding: 0 20px;
    white-space: nowrap;
    transition: 0.5s;
}
.navigation .logo:hover {
    border: 1px solid #be92fc;
    border-radius: 10px;
    border-left: 0.5px;
    border-bottom: 0.5px;
    border-top: 0.5px;
}
.navigation .list {
    flex: none;
    display: flex;
    position: relative;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.navigation a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    margin: 0 5px;
    padding: 0 10px;
    text-decoration: none;
}
.navigation .list a .icon {
    font-size: 1.5em;
    color: #f7f7f7;
    transition: 0.2s;
}

.navigation a:hover .icon {
    color: rgb(224, 175, 251);
    transform: translateY(-10px);
}

.navigation .list a .text {
    color: #f7f7f7;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: all 0.4s;
    opacity: 0;
    transform: translateY(10px);

}

.navigation a:hover .text {
    opacity: 1;
    color: rgb(255, 255, 255);
    transform: translateY(-10px);
    text-shadow: #000000 0px  10px 5px;
    
}

/* section */
#home{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    pointer-events: none;
    opacity: 0.9;
}

h1{
    font-size: 2em;
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-shadow: #f33669 0px 5px 5px;
}
h3{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    color: #e887ef;
    text-shadow: #f33669 0px 5px 5px;
}
.home-img::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100dvh;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
              url('../img/morte.png') no-repeat center/cover;
    background-size: cover;
    background-position: center;
    z-index: 0;
}
.home-content {
    position: relative;
    z-index: 1;
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    z-index: 10;
    pointer-events: auto;
}
.social-icons a {
    display: inline-block;
    margin: 0 5px;
    color: #e8d9f0;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}
.social-icons a:hover {
    color: #cb2877;
}

#port{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #faecff;
    text-align: center;
    border: solid 1px #e8d9f0;
    border-radius: 10px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center

}
#port h1{
    font-size: 2em;
    margin: 0;
    padding: 0;
    color: #eae6ec;
    text-shadow: #9e3869 0px 10px 10px;
}

#about{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #e8d9f0;
    text-align: center;
    border: solid 1px #e8d9f0;
    border-radius: 10px;
}
#about h1{
    font-size: 2em;
    margin: 0;
    padding: 0;
    color: #e8d9f0;
    text-shadow: #9e3869 0px 10px 10px;
}

#skills{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #e8d9f0;
    text-align: center;
    border: solid 1px #e8d9f0;
    border-radius: 10px;
}
#skills h1{
    font-size: 2em;
    margin: 0;
    padding: 0;
    color: #e8d9f0;
    text-shadow: #9e3869 0px 10px 10px;
}

#contact{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #e8d9f0;
    text-align: center;
    border: solid 1px #e8d9f0;
    border-radius: 10px;
}
#contact h1{
    font-size: 2em;
    margin: 0;
    padding: 0;
    color: #e8d9f0;
    text-shadow: #9e3869 0px 10px 10px;
}
@keyframes slide-fade-in {
    from { 
        opacity: 0;
    transform : translateY(0);
    }
    to { 
        opacity: 1;
    transform : translateY(0);
    }
}
@media (prefers-reduced-motion: reduce) {
.home-content {
    view-timeline-name: --fade-in;
    view-timeline-axis: vertical;
    animation: slide-fade-in 1s ease-in forwards;
}
.home-img::before {
    view-timeline-name: --fade-in;
    view-timeline-axis: vertical;
    animation: slide-fade-in 1s ease-in forwards;
}
.social-icons {
    view-timeline-name: --fade-in;
    view-timeline-axis: vertical;
    animation: slide-fade-in 1s ease-in forwards;
}
}

/* Estilo do botão ☰ */
.menu-toggle {
  display: none;
  font-size: 1.5em;
  padding: 5px 10px;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1001;
  background: linear-gradient(45deg, #8b2658, #06010b); 
  filter: saturate(90%) brightness(110%);
  color: #fff;
  border-radius: 8px 0 0 8px;
  transition: 0.3s;
  cursor: url(https://cur.cursors-4u.net/anime/ani-1/ani197.ani), url(https://cur.cursors-4u.net/anime/ani-1/ani197.png), auto;
  box-shadow: #0f0f0f 0px 5px 5px;
}
.menu-toggle:hover{
    transform: scale(1.1);
    transition: 0.2s;
    opacity: 0.9;
}

/* Oculta o menu */
.hidden {
  display: none;
}

/* Exibe o menu */
.show {
  display: flex;
  flex-direction: column;
}

/* Mostra o botão e ajusta o menu no mobile */
@media (max-width: 720px) {
  .menu-toggle {
    display: block;
  }
  .navigation {
    display: none;
  }
  .show {
    display: flex;
    flex-direction: column;
    
  }
  .hidden {
    display: none;
  }
 .menu.show {
    display: flex;
    flex-direction: column;
    animation: slide-in 0.3s ease-in forwards;
 }
}

.menu {
    display: none;
}
.menu-content .texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
    gap: 20px;
    color: #000000;
}
.menu{
    opacity: 0;
    width: 70px;
    height: 270px;
    border-radius: 35px 0 35px 30px;
    box-shadow: #9e3869 0px 10px 10px;
    position: fixed;  
    top: 0;
    right: 42px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #0e0d0d;
    z-index: 1000;
    overflow: hidden;
    transition: opacity 0.3s ease;
}
@keyframes fadeInMenu {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutMenu {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(50%);
  }
}
.menu.fade-in {
  display: flex;
  animation: fadeInMenu 0.3s ease forwards;
}

.menu.fade-out {
  animation: fadeOutMenu 0.3s ease forwards;
}

.menu-content {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.menu-content a .icone {
    display: inline-block;
    position: relative;
    font-size: 1.4em;
    color: #ab3d85;
    line-height: 1; /* ajuda a evitar desvio vertical */
    text-align: center;
    transition: color 0.3s ease;
    animation: fadeInMenu 0.3s ease forwards;
}

/* Círculo atrás */
.menu-content a .icone::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #bb4082;
    border-radius: 50%;
    opacity: 0;
    transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
    z-index: -1;
}

/* Hover com círculo maior */
.menu-content a .icone:hover::before {
    width: 55px;
    height: 55px;
    opacity: 1;
}

.menu-content a .icone:hover {
    color: #e9e3e6;
}
.menu-content a .texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    padding: 5px 10px;
    background: white;
    transition: 0.5s;
    box-shadow: 0 5 15 rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
}
